.font-prompt{
	font-family: 'Prompt', sans-serif;
}

.font-prompt>*{
	font-family: 'Prompt', sans-serif;
}

.top-bar{
	background-color: #610061;
	color: #FFF;
	font-size: 13px;
}
.top-bar a{
	color: #FFF;
	font-size: 13px;
	padding: 5px 10px;
	display: inline-block;
}

#navMenu>ul>li>a{
	padding: 8px;
}

#navMenu>ul>li>a.active{
	color: #610061;
	padding:6px;
	border: #610061 2px solid;
	border-radius: 5px;
	/*outline: #610061 2px solid;*/
}

a:hover {
	color: #007bff;
	text-decoration: underline;
}

.tcolor1{
	color:#6C1A68;
}

.tcolor2{
	color: #FC3858;
}

.tcolor3{
	color: #FDC54C;
}

.lang a.active{
	color: #FDC54C;
}

.card-list:hover{
	border-color: #FC3858;
}

.btn-toggler{
	border-color: #610061;
	color:#610061; 
	font-weight: bold;
}

/*
#F85E7F
#A7016B
#FC3858
#FDC54C
#FC3706
*/
.media-icon{
	margin: 0;
	padding: 0;
	background-color: #F85E7F;
	font-size: 16px;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	text-align: center;
	color: #FFF;
}

.media-icon i{
	line-height: 32px;
	display: block;
}




.promo-index {
	position: relative;
	margin-bottom: 20px;
}

.promo-index img {
	border-radius: 7px;
}

.promo-index .detail {
	position: absolute;
}

.promo-index label {
	display: block;
	background-color: #610061;
	color: #fff;
	line-height: 30px;
	text-align: center;
	width: 150px;
}

.promo-index h2 {}

.thumbnail-photo {
	/* Prevent vertical gaps */
	line-height: 0;
	-webkit-column-count: 4;
	-webkit-column-gap: 2px;
	-moz-column-count: 4;
	-moz-column-gap: 2px;
	column-count: 4;
	column-gap: 2px;
}

.thumbnail-photo img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	margin-bottom: 2px;
	border-radius: 4px;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.thumbnail-photo {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (max-width: 800px) {
	.thumbnail-photo {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 400px) {
	.thumbnail-photo {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

#columns {
	-webkit-column-count: 4;
	-webkit-column-gap: 5px;
	-moz-column-count: 4;
	-moz-column-gap: 5px;
	column-count: 4;
	column-gap: 5px;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	/*border: 2px solid #FAFAFA;*/
	/*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (max-width: 1000px) {
	#columns {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (max-width: 800px) {
	#columns {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 400px) {
	#columns {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

#columns-3 {
	-webkit-column-count: 3;
	-webkit-column-gap: 5px;
	-moz-column-count: 3;
	-moz-column-gap: 5px;
	column-count: 3;
	column-gap: 5px;
}


/* jssor slider arrow navigator skin 05 css */


/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/

.jssora05l, .jssora05r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('../images/a17.png') no-repeat;
	overflow: hidden;
}

.jssora05l {
	background-position: -10px -40px;
}

.jssora05r {
	background-position: -70px -40px;
}

.jssora05l:hover {
	background-position: -130px -40px;
}

.jssora05r:hover {
	background-position: -190px -40px;
}

.jssora05l.jssora05ldn {
	background-position: -250px -40px;
}

.jssora05r.jssora05rdn {
	background-position: -310px -40px;
}


/* jssor slider thumbnail navigator skin 01 css */


/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/

.jssort01 .p {
	position: absolute;
	top: 0;
	left: 0;
	width: 72px;
	height: 72px;
}

.jssort01 .t {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.jssort01 .w {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.jssort01 .c {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 68px;
	height: 68px;
	border: #000 2px solid;
	box-sizing: content-box;
	background: url('../images/t01.png') -800px -800px no-repeat;
	_background: none;
}

.jssort01 .pav .c {
	top: 2px;
	_top: 0px;
	left: 2px;
	_left: 0px;
	width: 68px;
	height: 68px;
	border: #000 0px solid;
	_border: #fff 2px solid;
	background-position: 50% 50%;
}

.jssort01 .p:hover .c {
	top: 0px;
	left: 0px;
	width: 70px;
	height: 70px;
	border: #fff 1px solid;
	background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
	background-position: 50% 50%;
	width: 68px;
	height: 68px;
	border: #000 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
	/* ie quirks mode adjust */
	width
	/**/
	: 72px;
	height
	/**/
	: 72px;
}

.list-pic{
	 overflow:hidden;
}

@media (min-width: 767px) {
	.list-pic{
		 height:250px; 
		 overflow:hidden;
	}
}

@media (min-width: 991px) {
	.list-pic{
		 height:200px; 
		 overflow:hidden;
	}
}